@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --text-color: #eeeeee;
  --base-color: #303841;
  --primary-color: #f6c90e;
  --secondary-color: #3a4750;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

p,
label,
li {
  font-size: 1rem;
}

a,
button {
  font-size: 0.9rem;
}

.tac {
  text-align: center;
}

.fwl {
  font-weight: lighter;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--base-color);
  width: min(1360px, 90%);
  margin: 0 auto;
}

.home {
  width: min(600px, 100%);
  margin: 40px auto;
}

.home main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.home .sign-in {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home .sign-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.home .sign-in-label {
  font-weight: bold;
}

.home .sign-up-btn,
.home .sign-in-btn,
.home .o-auth-btn {
  display: block;
  border: solid 1px var(--text-color);
  width: min(300px, 100%);
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 100px;
  color: var(--primary-color);
  font-weight: 700;
  outline-color: transparent;
  cursor: pointer;
}

.home .sign-up-btn {
  background-color: var(--primary-color);
  color: var(--base-color);
  border-color: transparent;
}

.home .o-auth-btn {
  background-color: var(--text-color);
  color: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
}

.home .sign-in-btn:hover {
  background-color: var(--secondary-color);
}

.sign-in-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-page > div {
  height: 85vh;
  width: min(600px, 100%);
  background-color: #000;
  border-radius: 20px;
  padding: 50px;
  position: relative;
}

.sign-in-page > div > a.close-sign-in {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border-color: transparent;
  outline-color: transparent;
  color: var(--text-color);
}

.sign-in-page > div > a.close-sign-in:hover {
  background-color: var(--secondary-color);
}

.sign-in-page > div > div {
  width: min(350px, 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sign-in-page form,
.sign-in-page form .input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in-page form {
  height: calc(85vh - (30vh + 30px));
  justify-content: space-between;
}

.sign-up-page form {
  height: 60vh;
}

.sign-in-page form .input-fields .password-field {
  position: relative;
}

.sign-in-page form .input-fields .password-field p.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-55%);
  cursor: pointer;
}

.sign-in-page form a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 0.7rem;
}

.sign-in-page form a:hover {
  text-decoration: underline;
}

.sign-in-page form input {
  width: 100%;
  padding: 15px;
  border: solid 2px transparent;
  outline: solid 1px var(--secondary-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
  transition: all 0.2s ease;
}

.sign-in-page form input:focus {
  border: solid 2px var(--primary-color);
}

.sign-in-page form button,
.sign-in-page .o-auth-btn {
  border-radius: 100px;
  padding: 15px 0;
  font-size: 1rem;
  color: #000;
  border-color: transparent;
  outline-color: transparent;
  font-weight: bold;
}

.sign-in-page .o-auth-btn {
  width: 100%;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sign-in-page .o-auth-btn:hover {
  cursor: pointer;
}

.sign-in-page form button:disabled {
  background-color: var(--base-color);
}

.sign-in-page form button:enabled {
  background-color: var(--text-color);
  cursor: pointer;
}

.sign-in-page .to-sign-up {
  margin-top: 5px;
  color: var(--secondary-color);
}

.sign-in-page .to-sign-up a {
  font-size: 1rem;
  color: var(--primary-color);
  text-decoration: none;
}

.sign-in-page .to-sign-up a:hover {
  text-decoration: underline;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.main-page .actions {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 15px;

  position: sticky;
  top: 0;
  height: 100vh;
  padding: 20px;
}

.main-page .actions nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-page .actions nav a,
.main-page .actions nav button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  padding: 12px 0;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 1rem;
}

.main-page .actions nav a:hover,
.main-page .actions nav a:focus,
.main-page .actions nav button:hover,
.main-page .actions nav button:focus {
  background-color: var(--text-color);
  color: var(--base-color);
}

.main-page .user-home {
  grid-column: span 6;
  border-left: solid 1px var(--secondary-color);
  border-right: solid 1px var(--secondary-color);
}

.main-page .user-home h1,
.main-page .user-home form {
  padding: 10px;
}

.main-page .user-home form {
  padding-top: 0;
}

.main-page .user-home form div.text-field {
  border-bottom: solid 1px var(--secondary-color);
  padding-bottom: 10px;
  margin: 10px 0;
}

.main-page .user-home form div.text-field textarea {
  overflow: hidden;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  font-size: 1.3rem;
  color: var(--text-color);
  background-color: transparent;
}

.main-page .user-home form div.text-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page .user-home form div.text-info p {
  font-size: 0.8rem;
}

.main-page .user-home form div.text-info button {
  border: solid 1px var(--primary-color);
  outline: inset 1px transparent;
  background-color: var(--primary-color);
  padding: 8px 15px;
  border-radius: 40px;
  color: var(--base-color);
  font-weight: bold;
}

.main-page .user-home form div.text-info button:disabled {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.main-page .user-home form div.text-info button:enabled {
  cursor: pointer;
}

.main-page .user-home .load-more-btn {
  color: var(--base-color);
  background-color: var(--text-color);
  border: solid 1px var(--text-color);
  outline: none;
  width: 200px;
  padding: 10px 0;
  font-size: 1rem;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.main-page .user-home .load-more-btn:hover,
.main-page .user-home .load-more-btn:focus {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.main-page .search {
  grid-column: span 4;
  position: sticky;
  overflow-y: scroll;
  height: 100vh;
  top: 0;
  padding: 20px;
}

.main-page .search::-webkit-scrollbar {
  width: 0;
}

.tweet-item {
  padding: 20px;
  border-top: solid 1px var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tweet-item .username {
  font-weight: bold;
  font-size: 0.9rem;
}

.tweet-item .username a {
  color: inherit;
}

.tweet-item .username a:hover {
  color: var(--primary-color);
}

.tweet-item .user-and-date {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tweet-item .user-and-date small {
  color: gray;
}

.tweet-item .tweet-item-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-item .likes {
  display: flex;
  gap: 2px;
  align-items: center;
  outline-color: transparent;
  border-color: transparent;
  background-color: transparent;
  color: var(--text-color);
}

.search-field input {
  width: 100%;
  font-size: 1rem;
  background-color: var(--secondary-color);
  border: solid 1px transparent;
  outline: none;
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 50px;
}

.search-field input:focus,
.search-field input:hover {
  border-color: var(--text-color);
}

.tweet-item .likes:hover {
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .main-page .search {
    display: none;
  }

  .main-page {
    display: flex;
    flex-direction: column;
  }

  .main-page .actions {
    position: static;
    height: auto;
  }

  .main-page .actions nav {
    flex-direction: row;
  }

  .main-page .actions nav a,
  .main-page .actions nav button {
    padding: 4px 10px;
  }

  .main-page .actions p {
    text-transform: uppercase;
  }

  .main-page .user-home {
    border-top: solid 1px var(--secondary-color);
  }
}

.user-profile header nav {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.user-profile header nav a,
.user-profile header nav button {
  width: 100px;
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 5px 0;
  border-radius: 50px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.user-profile header nav a:hover,
.user-profile header nav a:focus {
  background-color: var(--primary-color);
  color: var(--base-color);
}

.user-profile header nav button:hover,
.user-profile header nav button:focus {
  background-color: var(--text-color);
  color: var(--base-color);
}

.user-profile header h2 {
  font-weight: lighter;
  margin-bottom: 20px;
}

@media (max-width: 499px) {
  .sign-in-page form,
  .sign-up-page form,
  .sign-in-page > div {
    height: auto;
  }
}
